body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-item::after{
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: white;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-item:hover::after{
  transform: scale(1);
}

.navbar-brand::after{
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background-color: white;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar-brand:hover::after{
  transform: scale(1);
}

